@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@{ 
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var backgroundImage1 = settings?.Value<IPublishedContent>("backgroundImageLeft")?.Url() ?? null;
    var backgroundImage2 = settings?.Value<IPublishedContent>("backgroundImageRight")?.Url() ?? null;

    var selection = Model.Ancestors().ToArray(); 
    var homePageDisplayName = "Home";
    var isFirstItem = true;
}

<section id="title-section">
    <div class="background">
        <img class="left-background-img" src="@backgroundImage2" alt="background">
        <img class="right-background-img" src="@backgroundImage1" alt="background">
    </div>

    <div class="container">
        <h1>@ViewBag.Title</h1>

        @if (selection?.Length > 0)
        {
            <ul class="breadcrumb">
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                var displayName = isFirstItem ? homePageDisplayName : item.Name;
                <li><a href="@item.Url(PublishedUrlProvider)">@displayName</a><i class="fa-regular fa-angle-right"></i></li>
                isFirstItem = false;
            }
                <span class="active">@Model.Name</span>
            </ul>
        }
    </div>
</section>

