@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var headline = Model?.Content.Value<string>("headline") ?? "";
    var officeLocationLabel = Model?.Content.Value<string>("officeLocationLabel") ?? "";
    var phoneNumberLabel = Model?.Content.Value<string>("phoneNumberLabel") ?? "";
    var emailAddressLabel = Model?.Content.Value<string>("emailAddressLabel") ?? "";

    var colorLabel = Model.Content?.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = !string.IsNullOrEmpty(colorLabel) ? $"bg-{colorLabel}" : "";

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var phoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var emailAddress = settings?.Value<string>("officeEmailAddress") ?? "";
    var dotBackground = settings?.Value<IPublishedContent>("dotBackground").Url() ?? null;
    var mainBackground = settings?.Value<IPublishedContent>("mainBackground").Url() ?? null;
}
 
<div id="contact-info-section" class="background @backgroundColorClass">
    <div class="container">
        <div class="img-container">
            <img class="main-img" src="@mainBackground" alt="contact image">
            <img class="dots-img" src="@dotBackground" alt="contact image">
        </div>
                        
        <div class="content-container">
            <h4>@headline</h4>
            <div class="contact-info-box">
                <div class="info-box">
                    <p class="contact-titles"><i class="fa-regular fa-location-dot"></i>@officeLocationLabel</p>
                    <p>@officeLocation</p>
                </div>
                <div class="info-box">
                    <p class="contact-titles"><i class="fa-regular fa-phone"></i>@phoneNumberLabel</p>
                    <p class="contact-info">@phoneNumber</p>
                </div>
                <div class="info-box">
                    <p class="contact-titles"><i class="fa-regular fa-envelope"></i>@emailAddressLabel</p>
                    <p class="contact-info">@emailAddress</p>
                </div>
            </div>
        </div>
    </div>
</div>