@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var sectionTitle = Model?.Content.Value<string>("sectiontitle") ?? "";
    var headline = Model?.Content.Value<string>("headline") ?? "";

    var colorLabel = Model.Content?.Value<ColorPickerValueConverter.PickedColor>("backgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = !string.IsNullOrEmpty(colorLabel) ? $"bg-{colorLabel}" : "";

    var experts = Model.Content.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("experts");
        
}

<section id="experts-section">
    <div class="container">
        <span>@sectionTitle</span>
        <h4>@headline</h4>  
   
        <div class="experts">
            @foreach (var item in experts)
            {
                var expertImage = item?.Content.Value<IPublishedContent>("expertImage")?.Url();
                var expertName = item?.Content.Value<string>("expertName") ?? "";
                var expertRole = item?.Content.Value<string>("expertRole") ?? "";

                <div class="expert-info">
                    <img src="@expertImage" alt="@expertName" >
                    <div class="text-content">
                        <p class="name">@expertName</p>
                        <p class="role">@expertRole</p>
                    </div>
                </div>
            }
        
        </div>
    </div>
</section>